{{ define "website_edit"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/database.css">
    <title>Document</title>
</head>
<body>
    <div class="body">
        <div class="navigation">
            <h1 class="navigation__header">T1 virtual</h1>
            <div class="naviagtion__block1">
                <a class="block1__text"><img src="/static/images/brick.png" alt="" class="block1__image">Конструктор<img src="/static/images/right-arrow.png" alt="" class="block1__image"></a>
                <a class="block1__text"><img src="/static/images/llm.png" alt="" class="block1__image">Выбор LLM<img src="/static/images/right-arrow.png" alt="" class="block1__image"></a>
                <a class="block1__text"><img src="/static/images/upload.png" alt="" class="block1__image">Загрузка<img src="/static/images/right-arrow.png" alt="" class="block1__image"></a>
            </div>
        </div>
        <div class="main">
            <div class="header">
                <div class="header__buttons">
                    <a href="#" class="header__button"><img src="/static/images/play.png" alt="" class="block1__image">Run</a>
                    <a class="block1__text" href="/uploads/" style="background-color: #E5E7EB;"><img src="/static/images/upload.png" alt="" class="block1__image">Загрузка<img src="/static/images/right-arrow.png" alt="" class="block1__image"></a>
                </div>
            </div>
            <div class="content">
            <form action="/uploads/edit/website/submit" method="POST" class="database-form">
                <input type="hidden" name="id" value="{{ .ID }}">
                <label for="name">Название ресурса:</label>
                <input type="text" id="name" name="name" value="{{ .Name }}" required>
            
                <label for="url">Url:</label>
                <input type="url" id="url" name="url" value="{{ .URL }}" required>
            
                <button type="submit" class="submit-btn">Изменить</button>
            </form>
            </div>
        </div>
    </div>
</body>
</html>
{{ end }}