body {
    margin: 0px;
    color: #3e4040;
    font-family: "Montserat", monospace;
    font-weight: 600;
    font-size: 16px;
}

.body {
    display: grid;
    grid-template-columns: 20% 80%;
}

.navigation {
    display: flex;
    flex-direction: column;
    padding: 12px 20px 12px;
    height: 97vh;
    border-right: #E5E7EB 1px solid;
}

.naviagtion__block1 {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.navigation__header {
    margin: 0px;
    text-align: start;
    font-size: 30px;
    color: #000000;
    font-weight: 600;
}

.block1__text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 5px;
    padding: 10px 10px 10px;
    border-radius: 5px;
    transition: all .1s ease-in-out;
    text-decoration: none;
    color: #3e4040;
}

.block1__text:hover {
    background-color: #E5E7EB;
}

.block1__image {
    width: 20px;
}

.main {
    background-color: #F6F6F6;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding: 12px 20px 12px;
    height: 30px;
    background-color: white;
    border-bottom: #E5E7EB 1px solid;
}

.header__buttons {
    display: flex;
    flex-direction: row; 
}

.header__button {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60px;
    justify-content: space-between;
    padding: 8px 20px 8px;
    border-radius: 5px;
    text-decoration: none;
    color: #3e4040;
    margin-right: 10px;
    transition: all .1s ease-in-out;
}

.header__button:hover {
    background-color: #dcdde0;
}

.header__button:nth-child(2) {
    width: 100px;
    background-color: #000000;
    color: white;
    transition: all .3s ease-in-out;
}

.header__button:nth-child(2):hover {
    background-color: #007bff;
}

.cards {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin : 30px auto;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding: 12px 20px 12px;
    border-radius: 5px;
    border: 1px solid #E5E7EB;
    margin-bottom: 15px;
    transition: all .3s ease-in-out;
}

.card:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.card__button {
    margin-left: auto;
}

.card__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #3e4040;
}

.delete {
    margin-left: auto;
}
.delete-btn {
    background-color: #000000; /* Нежно-красный цвет */
    color: white; /* Белый текст */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Скругленные углы */
    padding: 10px 20px; /* Внутренние отступы */
    font-size: 16px; /* Размер текста */
    cursor: pointer; /* Указатель мыши при наведении */
    transition: background-color 0.3s ease; /* Плавная анимация */
}

.delete-btn:hover {
    background-color: #d32f2f; /* Темно-красный при наведении */
}

.card__image {
    width: 80px;
}

.card__name {
    margin-left: 30px;
    font-size: 20px;
}

.card__buttton-image {
    width: 24px;
}

.cards-node {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 30px;
}

.card-node {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 16px auto;
    width: 300px;
    padding: 16px 24px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-node:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-node__title {
    font-size: 16px;
    font-weight: bold;
    color: #131313;
    margin-bottom: 4px;
}

.card-node__text {
    font-size: 14px;
    color: #343a40;
    margin-bottom: 12px;
}

.arrow {
    width: 200px;
    height: 50px;
}

.arrow:last-of-type {
    display: none;
}

.card-node__link {
    text-decoration: none;
}

.node-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: end;
}

.card-node__button {
    background-color: black; /* Нежно-красный цвет */
    color: white; /* Белый текст */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Скругленные углы */
    padding: 5px 10px; /* Внутренние отступы */
    font-size: 11px; /* Размер текста */
    cursor: pointer; /* Указатель мыши при наведении */
    transition: background-color 0.3s ease;
}

.card-node__button:hover {
    background-color: #d32f2f; /* Темно-красный при наведении */
}
